header {
  padding: 16px 0;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 2px solid #c6c8cc;
}
.header-logo img {
  width: 133.52px;
  height: 66.17px;
}
.header-nav {
  display: table;
  margin-left: auto;
}
.header-nav__list {
  margin: 0;
}
.header-nav__list li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}
.header-nav__list li a {
  color: #19345E;
  display: block;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.header-nav__list li a.active,
.header-nav__list li a:hover {
  color: #F47522;
  text-decoration: none;
}
